[Unit]
Description=MGFieldPy (/opt/MGFieldPy) - Magnetic field measurement
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/opt/MGFieldPy

ExecStart=

StandardOutput=append:/var/log/MGFieldPy/mgfieldpy.log
StandardError=append:/var/log/MGFieldPy/error.log

[Install]
WantedBy=multi-user.target
