[Unit]
Description=MGField (/opt/mgfield) - Magnetic field measurement
After=network.target

[Service]
User=root
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/opt/mgfield
Environment=PYTHONUNBUFFERED=1

ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/python3 main.py

StandardOutput=append:/var/log/mgfield/mgfield.log
StandardError=append:/var/log/mgfield/error.log

[Install]
WantedBy=multi-user.target
