[Unit]
Description=MGFieldPy (/opt/MGFieldPy) - Magnetic field measurement
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/opt/MGFieldPy

ExecStart=/usr/bin/python3 main.py

StandardOutput=append:/var/log/MGField/MGField.log
StandardError=append:/var/log/MGField/error.log

[Install]
WantedBy=multi-user.target
